body {
   height: 100vh;
  background-color: #fff;
  position: relative;
}

.Land {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   &__logo {
      width: 30%;
      border: 0.5px dashed #ccc;
      &SVG path{
         fill: transparent;
         stroke: rgb(83, 136, 255);
         stroke-width: 0.5px;
         transition: fill 3s, stroke 3s ease;
         &.st0.active { fill: #3c3c3c; }
         &.st1.active { fill: #96288c; }
         &.st2.active { fill: #1e78c8; }
         &.st3.active { fill: #00a050; }
         &.st4.active { fill: #fafa00; }
         &.st5.active { fill: #fa8200; }
         &.st6.active { fill: #f03200; }
      }
   }
}
